In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Read the file

In [487]:
df = pd.read_csv("attacks.csv", encoding='latin-1')

In [488]:
#Ver numero filas y columnas
df.shape

(25723, 24)

In [489]:
# Ver nombres de las columnas
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [490]:
# Ver tipos de datos en cada columna 
df.dtypes
# Todos son de tipo objeto menos el año y el original order
# Hay dos columnas Case number 1 and case number 2 que tienen el mismo nombre que case number
# Hay dos columnas href y href formula que pueden tener datos parecidos
# Dos columnas Unnamed

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [491]:
df
# Hay muchas filas con todos los datos nulos

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Case number

In [492]:
# Ver si las columnas case numeber 1 and case number 2 son iguales entre si y a la otra
a=df["Case Number"].equals(df["Case Number.1"])
b=df["Case Number"].equals(df["Case Number.2"])
c=df["Case Number.1"].equals(df["Case Number.2"])
print(a,b,c)
# No tienen los mismos datos

False False False

In [493]:
# Ver si hay muchos datos diferentes en case number 2 de case number 1
df["Case Number.1"].isin(df["Case Number.2"]).value_counts()
# Hay pocos datos diferentes en case number 2 respecto a case number 1 --> borrar columna para no tenerlo duplicado

True     25704
False       19
Name: Case Number.1, dtype: int64

In [494]:
# eliminar case number 2
df_clean=df.drop(labels="Case Number.2", axis=1)
df_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [495]:
# Ver si hay muchos datos diferentes en case number 1 de case number
df["Case Number.1"].isin(df["Case Number"]).value_counts()
# Hay pocos datos diferentes en case number 1 respecto a case number --> borrar columna para no tenerlo duplicado

True     25700
False       23
Name: Case Number.1, dtype: int64

In [496]:
# eliminar columna de case number 1
df_clean=df_clean.drop(labels="Case Number.1", axis=1)
df_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## href

In [497]:
# ver si las columnas href y href formula tienen infor repetida
df_clean["href"].equals(df_clean["href formula"])
# no tienen los mismos datos ver ls diferencia

False

In [498]:
df_clean["href"].isin(df_clean["href formula"]).value_counts()
# hay muy pocos datos diferenetes asi que elimino href formula

True     25666
False       57
Name: href, dtype: int64

In [499]:
df_clean=df_clean.drop(labels="href formula", axis=1)
df_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Columnas nulas y filas nulas

In [500]:
# Ver cuantos nulos hay en cada columna
column_null=df.isnull().sum()
column_null
# las columnas Unnamed22 y Unnamed 23 tienen practicamente todos nulos

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [501]:
# Hay filas con todos los datos nulos
#Eliminar las filas que tienen todos nulos(no perdemos info)
df_cleanl=df_clean.dropna(how="all")
df_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [502]:
#Eliminar las filas que tienen todos los valores nulos en estas columnas
df_clean=df_clean.dropna(how="all", subset=["Date", "Year", "Country", "Area", "Activity"])
df_clean

#ELiminar las columnas que tienen 600 valores que no son NaN, tienen 8103 valores nulos(Unnamed22 y Unnamed23)
#Eliminarlas porque tienen practicamente todos nulos como hemos vtio arriba
df_clean=df_clean.dropna(axis=1, how="all", thresh=600)
df_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

In [503]:
columna year se puede quitar porque lo pone en date

SyntaxError: invalid syntax (<ipython-input-503-920c16cd5458>, line 1)

## Columna type

In [504]:
#ver el tipo de datos qie hay en la columna !!!!!!!VER TODOS!!!!!!
df_clean["Type"]
# Hay 3 nombres de lo mismo entonces los uno en uno solo

0          Boating
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
           ...
6297    Unprovoked
6298    Unprovoked
6299    Unprovoked
6300    Unprovoked
6301    Unprovoked
Name: Type, Length: 6302, dtype: object

In [505]:
# sustituir boating y boatomg por boat
df_clean= df_clean.replace({"Boating":"Boat", "Boatomg": "Boat"})
df_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

## Columna country

In [506]:
#ver paises
print(set(df_clean['Country']))
#estan bien no hay ninguno repetido ni con otro nombre

{nan, 'AZORES', 'ANDAMAN / NICOBAR ISLANDAS', 'BARBADOS', 'NORTH PACIFIC OCEAN', 'LIBERIA', 'OCEAN', 'MOZAMBIQUE', 'COMOROS', 'ITALY', 'INDIAN OCEAN', 'SOUTH CHINA SEA', 'GABON', 'TAIWAN', 'ST. MAARTIN', 'TOBAGO', 'CEYLON', 'IRAQ', 'ARUBA', 'NEW ZEALAND', 'NEW GUINEA', 'BURMA', 'SYRIA', 'FIJI', 'Seychelles', 'RED SEA', 'MEDITERRANEAN SEA', 'SEYCHELLES', 'PUERTO RICO', 'SOUTH AFRICA', 'UNITED ARAB EMIRATES', 'PHILIPPINES', 'MONTENEGRO', 'KIRIBATI', 'NETHERLANDS ANTILLES', 'SIERRA LEONE', 'FRANCE', 'AFRICA', 'BAHREIN', 'CHINA', 'RUSSIA', 'SCOTLAND', 'CARIBBEAN SEA', 'TUNISIA', 'SOUTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'SRI LANKA', 'GRAND CAYMAN', 'AUSTRALIA', 'PERSIAN GULF', 'GEORGIA', 'NICARAGUA ', ' PHILIPPINES', 'MID-PACIFC OCEAN', 'HAITI', 'COOK ISLANDS', 'HONG KONG', 'MICRONESIA', 'FALKLAND ISLANDS', 'CYPRUS', 'LIBYA', 'NAMIBIA', 'PALAU', 'NEW CALEDONIA', ' TONGA', 'ITALY / CROATIA', 'LEBANON', 'SPAIN', 'GUAM', 'COSTA RICA', 'INDONESIA', 'TURKS & CAICOS', 'WESTERN SAMOA', 'BAHAMAS', 'CAYMAN ISLANDS', 'ASIA?', 'NORTH ATLANTIC OCEAN ', 'SUDAN', 'HONDURAS', 'UNITED KINGDOM', 'TRINIDAD & TOBAGO', 'INDIAN OCEAN?', 'GREENLAND', 'MALTA', 'NIGERIA', 'KUWAIT', 'SAMOA', 'WEST INDIES', 'MALDIVES', 'Fiji', 'UNITED ARAB EMIRATES (UAE)', 'ENGLAND', 'JAMAICA', 'VIETNAM', 'CAPE VERDE', 'REUNION ISLAND', 'GUATEMALA', 'AMERICAN SAMOA', 'JOHNSTON ISLAND', 'CRETE', 'ANDAMAN ISLANDS', 'EGYPT ', 'SUDAN?', 'MEXICO', 'MEXICO ', 'MARSHALL ISLANDS', 'EL SALVADOR', 'CANADA', 'GUINEA', 'MALAYSIA', 'ANTIGUA', 'BRITISH ISLES', 'ISRAEL', 'THAILAND', 'MADAGASCAR', 'NORTH ATLANTIC OCEAN', 'SOUTHWEST PACIFIC OCEAN', 'EQUATORIAL GUINEA / CAMEROON', 'SAN DOMINGO', 'IRAN', 'TASMAN SEA', 'CENTRAL PACIFIC', 'PERU', 'TONGA', 'BRITISH VIRGIN ISLANDS', 'SENEGAL', 'GREECE', 'JAPAN', 'PACIFIC OCEAN ', 'DOMINICAN REPUBLIC', 'DIEGO GARCIA', 'BAY OF BENGAL', 'YEMEN ', 'GHANA', 'GUYANA', 'RED SEA?', 'BRITISH NEW GUINEA', 'KENYA', 'TURKEY', 'USA', 'COLUMBIA', 'SOMALIA', 'NICARAGUA', 'IRELAND', 'SINGAPORE', 'SWEDEN', 'THE BALKANS', 'TUVALU', 'SAUDI ARABIA', 'YEMEN', 'NORWAY', 'MAURITIUS', 'SOUTH KOREA', 'NEW BRITAIN', 'ATLANTIC OCEAN', 'PANAMA', 'GRENADA', 'BRAZIL', 'NORTHERN ARABIAN SEA', 'SOLOMON ISLANDS / VANUATU', 'KOREA', 'PALESTINIAN TERRITORIES', 'NORTH SEA', 'IRAN / IRAQ', 'GULF OF ADEN', 'REUNION', 'CURACAO', 'ANGOLA', 'DJIBOUTI', 'SLOVENIA', 'TANZANIA', 'Sierra Leone', 'SOUTH ATLANTIC OCEAN', 'ARGENTINA', 'NEVIS', 'VENEZUELA', 'PORTUGAL', 'Between PORTUGAL & INDIA', 'CUBA', 'EGYPT / ISRAEL', 'MID ATLANTIC OCEAN', 'ECUADOR', 'PACIFIC OCEAN', 'EGYPT', 'VANUATU', 'CHILE', 'OKINAWA', 'FRENCH POLYNESIA', 'Coast of AFRICA', 'ST HELENA, British overseas territory', 'PAPUA NEW GUINEA', 'RED SEA / INDIAN OCEAN', 'MAYOTTE', 'ADMIRALTY ISLANDS', 'ALGERIA', 'NORTHERN MARIANA ISLANDS', 'JAVA', 'BRITISH WEST INDIES', 'ROATAN', 'CROATIA', 'BANGLADESH', 'BELIZE', 'ICELAND', 'URUGUAY', 'INDIA', 'MARTINIQUE', 'MONACO', 'MALDIVE ISLANDS', 'PARAGUAY', 'CEYLON (SRI LANKA)', 'BERMUDA', 'SOLOMON ISLANDS', 'ST. MARTIN'}

## Columna activity

In [507]:
#VEr cuantos tipos de actividades hay
set(df_clean['Activity'])
#Demasiados
#poner aqui lo que he buscado mas abajo

{nan,
 'Washing clothes',
 'Swimming at side of small boat',
 'Riding a horse',
 "Standing on landed shark's tail",
 'Shark fishing on the Ricardo Astorga',
 'Jumped overboard to rescue companion',
 'Air/Sea Disaster',
 'The boat Caribou II sank',
 'Swimming along a row of nets',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'Hilo',
 'Surfing & filming dolphins',
 'Wreck of the 1689-ton Portuguese  coaster Angoche',
 'Wading or swimming',
 'Fishing for cod',
 'Diving, photographing sharks',
 'Standing, watching seine netters',
 'Floating on an inflatable raft',
 'Swimming or surfing',
 'Photographing fish',
 'Spear fishing, removing fish from spear',
 'Swimming or paddle boarding',
 'Reaching for life preserver',
 'Kayaking / Fishing',
 'Aircraft ditched in the sea, swimming ashore',
 'Kite Boarding',
 'Trailing hand in the water',
 'Fishing for the shark that killed George Lundberg',
 '4 men were bathing',
 'Sailing',
 'Boat with 5 men capsized while returning to the Amerique',
 'Bottom fishing for lingcod & had hooked a fish',
 'Swimming between boats',
 'Boat exploded',
 'Fishing, holding fish in right hand',
 'Scuba diving for abalone',
 'Floating in tube',
 'Investigating shark sighting',
 'Swimming in pool formed by construction of a wharf',
 'Slipped off rocks and fell into the water',
 'Standing, collecting bananas',
 'Wading with surfboard',
 'Line fishing from Lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air',
 'Crouching in the water',
 'Swimming in section of river used for washing clothes & cooking utensils',
 'Esso Bolivar was torpedoed & shelled by the German submarine U-126',
 'Paddling a canoe',
 'Vessel caught fire & capsized, survivors in the water',
 'Conducting research',
 'Swimming beside launch',
 'Shark diving',
 'Wreck of the Storm King',
 'Jumped overboard while intoxicated',
 "Diving, repairing water main at depth of 90'",
 'Boogie Boarding',
 'Body surfing or Boogie boarding',
 'Swimming /  Whale Watching',
 'Attempting to illegally enter the USA',
 'Skindiving for abalone (but at surface)',
 'Fell overboard & swimming',
 'Paddling in knee-deep water',
 ' ',
 'Longline fishing for sharks',
 'Attempting to drag hooked shark ashore by its tail',
 'Parachuted from balloon',
 'Floating, after falling or jumping off the Standard Oil tanker Frederick W. Weller',
 'HBM Magpie foundered in a squall',
 'Spearfishing, carrying fish on belt',
 'Surfing on air mattress',
 'Taking catch from a fish weir in which the shark was snared',
 'Fishing for tarpon',
 'Fishing, wading with string of fish',
 'Free diving for abalone (submerged)',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Fishing for yellowtail',
 'Hunting crayfish',
 'Fell overboard from the ship Gem',
 'Photo shoot',
 'Fishing, casting in the surf',
 'Dived onto shark from floating stage',
 ' a canoe was pursuing a schooner that had forcibily abducted 5 young girls',
 'Dragging banana seeds through the shallows',
 'Angling',
 'Attempting to drive shark from area',
 'Surf fishing',
 'Returning to shore, collided with shark',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'Cruising',
 'Wading?',
 'Swimming between  anchored  pearling luggers',
 'Wreck of the USS Somers',
 'Lifesaving exhibition',
 'Fishing, had just speared a ulua',
 'Washing horses',
 'Swimming',
 'British ship Macedon was thrown on her beam ends by a sudden squall',
 'Lying atop surfboard',
 'Swimming from foundered vessel',
 'Hand feeding sharks',
 'Crew swimming alongside their anchored ship',
 'Diving off pier & treading water',
 'Fell or jumped overboard from the liner Rhynland',
 'Floating ',
 'wreck of the State Oil Company ship Permina',
 'Ditched aircraft, 3 men in the water. Swam for 31 hours',
 "Crouching in 2' of water",
 'Diving alongsidethe steamship Ranelagh ',
 'Catching a turtle',
 'Spearfishing / Free diving',
 'Kayaking or Wave skiing',
 'Free diving for molluscs',
 'Fishing, slipped on rocks & fell into sea',
 'After rowing skiff was holed by shark, he was attempting to swim ashore',
 'Spearfishing / scuba diving',
 'Walking / surfing',
 'boat capsized during filming',
 'Swimming after falling overboard from the sealing ship Vesper',
 'Sleeping in anchored boat',
 'Swimming underneath house on pilings',
 'Fishing for albacore',
 'Washing a dog',
 'Seining for bait, standing in chest-deep water',
 'Sitting on side of dinghy mending a net',
 'Swimming with pod of dolphins',
 'Kite surfing',
 'Diving for sea urchins',
 'Playing soccer in the water',
 'Diving from lugger',
 'The coastwise steamer San Basilio capsized in a typhoon',
 'Free diving / Spearfishingat edge of reef',
 'Paddle boarding',
 'U-177 torpedoed & sank the troopship Nova Scotia',
 'Diving on a wreck',
 'Free diving & spearfishing (ascending)',
 'Hookah diving',
 'Wreck of the steamship Birkenhead',
 'Shark fishing',
 'Vessel capsized, wading ashore carrying an oar',
 'Standing / surfing',
 'Diving off jetty',
 'Catching crabs',
 'Suicide',
 'Fishing for squid',
 'Hunting turtle',
 'Swimming to shore from capsized kayak',
 'Dived for a coin',
 'Kneeling in the water',
 'Portuguese Airliner with 9 people aboard went down. ',
 'Removing shark from a trap',
 'SUP Foil boarding',
 'Hookah diving for abalone',
 'Motor launch Baby Princesa capsized with 22 people on board',
 'Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface',
 'Grabbed shark & threw it on deck',
 'Boat stopped to repair electric pump',
 'A dhow capsized',
 'Yacht of Michael Howell capsized',
 'Adrift in a life jacket',
 'Collecting dynamited fish',
 'Free diving with seals',
 'Swimming out to porpoises ',
 'Treading for clams',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Walking in surf',
 'The 500-ton coastal trader Polurrian foundered ',
 'Swimming along side N.E.L. vessel Saluda',
 'Removing shark from a net',
 'Swimming, poaching abalone',
 'Free diving / spearfishing',
 'Boat of a Hawaiian brig was stove in by  whale',
 'Fell oveboard',
 'Standing on ship deck',
 'Jumped into river',
 'Swimming / snorkeling',
 'Moving shark from tuna vessel when boat rolled, placing both man & shark in chest-deep water',
 '13 men in the water after sailboat capsized & sank',
 'Playing in surf with his child  (9)',
 'Bathing',
 'Attempting to rescue drowning man',
 'Floating on his back',
 'Crossing river on a raft',
 'Bringing hooked, harpooned shark onboard boat',
 'Air/Sea Disaster Pan-American Airlines Stratocruiser with 44 people onboard crashed into the sea',
 'Free-diving',
 'Watching seine netters with friends, one of whom picked up a netted shark',
 'S.S. Marine Sulphur Queen, laden with molten sulphur was bound from Beaumont, Texas for Norfolk, VA, when she disappeared with 39 on board',
 'Gloucester fishing schooner run down',
 'Swimming behind sailboat',
 'Racing ski',
 'The steamships Thingvalla and Geiser collided',
 'Dragging stranded shark ashore',
 'Night diving',
 'Touching the mouth of a supposedly dead shark',
 'Sponge diving',
 'Dynamiting fish',
 'Fell overboard, hanging onto lifebuoy',
 'Fishing, boat capsized',
 'Abandoning burning steamship Don Juan',
 'Sinking of the cargo ship Mark Jason',
 'Sunbathing on beach when he saw child being attacked by the shark',
 'Fell overboard from P&O steamship Arabia',
 'Went overboard',
 'British cruiser Dunedin torpedoed & sunk by the U-124',
 'Free diving for crayfish',
 'Picking up shark by the tail',
 'Moving a shark in a net ',
 'On life raft tethered to lifeboat. A seaman put hand over side to rinse a cup',
 'Abalone diving using Hookah (near calving whales)',
 'Surf fishing / wading',
 'Fell overboard from the steamship Chala',
 'Swimming close to wharf',
 'Kayaking ',
 'Skindiving, fish at belt',
 'Free diving, collecting shells',
 'Diving & fishing with net',
 'Freediving for trochus shell (submerged)',
 'Wading (shrimping)',
 'H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Japanese dive bombers. Officers & men in the water formed a circle with 60 of their dead in the center for 36 hours',
 'Swimming, when caught in heavy seas',
 'Diving, gathering shellfish',
 'Fishing, on a boat',
 'Floating with life buoy after pilot launch capsized',
 'In rubber dinghy with Captain Eddie Rickenbacker for 21 days. ',
 'Swimming / surfing',
 'Drift fishing',
 "Diving to untangle a crab trap line from boat's propeller",
 'Fly fishing',
 'Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net',
 'Carrying a supposedly dead shark by its mouth',
 'Spearfishing, carrying fish on spear',
 'Shark tagging',
 'Jet skiing',
 'Swimming, after falling off towed kneeboard',
 'Jumped overboard from torpedoed Panamanian freighter',
 "Explosion destroyed 28' boat, survivors in the water ",
 'Removing shark from net ',
 'Scuba diving & filming',
 'Diving, but on the surface when bitten by the shark',
 'Helmet diving',
 'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion',
 'Helping angler land a shark',
 "Sitting in bow of her father's 5 m boat",
 'preparing to go skin diving',
 'Fell overboard, prop slashed arm',
 'Playing on a sandbar',
 'Attaching a line at sea',
 'Washed into sea while picking opihi',
 'Sea Disaster, sinking of the motorship Wingate',
 'Diving for coins thrown from ship S.S. Moeraki',
 'Fishing from a small boat & put his hand in the water while holding a dead fish',
 'The passenger ship Kapuna was run down the ore carrier Ada Melmore',
 'Fishing from shore, washed into the sea',
 'Attempting to land a boat from the Hinemoa',
 'Jumped into the water from a cliff',
 'Free diving / Photographing pilot whales',
 'Swimming, ducking for shells in water 0.9 m deep',
 'Sittting in water with his child',
 'Boat, with 42 passengers onboard, capsized in rough seas',
 'Swimming, towing surfboard',
 'Arsinoe, a French tanker',
 'Boat Miss Becky  sank 12 miles from shore',
 'Air disaster',
 'Swimming with boogie board',
 'Fell overboard from the Selim',
 'S2F-1 airplane crashed immediately after carrier take-off',
 'Dress diving',
 "Lying on the bottom of a 16' dinghy",
 'On a float',
 'Snorkeling \x96 hunting crayfish and abalone',
 'Swimming to anchored boat',
 'Swimming with dog near canning factory',
 'Playing on rock, slipped & fell into the water',
 'Dived into a school of baitfish',
 '2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didn\x92t notice they were missing',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Free diving for trochus',
 'Checking fish traps, fell into the water',
 'Scuba diving (submerged riding a scooter)',
 'He was fighting a shark when his boat capsized & he disappeared',
 'Dangling feet in the water',
 'Boat capsized, swimming to shore',
 'Restraining a beached shark',
 'Free diving for scallops',
 'Diving / UW photography',
 'Taking boat from California to Florida when it ran aground & he was swimming back to boat',
 'Swimming or boogie boarding',
 'Spearfishing (Free diving)',
 'Shipwrecked',
 'Diving ',
 'Unknown, but it was said to be the "First known attack in Sydney Harbour"',
 'Slapped shark on tail as it swam by',
 'HMS Victoria collided with the HMS Camperdown',
 'Yacht Gooney Bird foundered, 4 survivors on raft',
 'Went to aid of child being menaced by the shark',
 'Surfing on "chest board" (boogie board?)',
 '"Riding waves on a board"',
 'Swimming / escaping imprisonment ',
 'Removing fish from a trap',
 'Swimming ashore from a "filibuster"',
 'Spearfishing, speared fish retreated to cave where shark grabbed his arm',
 'Floating near boat & observing bioluminesce',
 'Launching rowboat through the surf',
 'Playing in the surf with his 2 dogs',
 'Thrown overboard',
 'Bitten after dhow shipwrecked',
 "Swimming near jetty with 2' piece of wood",
 'Thrown from destroyer when shell hit',
 'Wading, netting fish',
 'Skimboarding',
 'Photographing sharks underwater using Scuba',
 'Attempting to rescue crew after whale upset their boat',
 'B-24 aircraft crashed  into the sea',
 'Playing in knee-deep water',
 'Shipwrecked Persian Fleet',
 'Playing',
 'Fishing from a kayak',
 'Spear fishing',
 'Swimming after their boat capsized',
 'Scuba diving / culling lionfish',
 'Swimming to mail boat',
 'Fishing for white shark',
 'Swimming / Wading',
 'Paddling on kneeboard',
 'Spearfishing on scuba',
 'A junk foundered',
 'Night bathing',
 'Free diving with a pod of dolphins',
 'Fishing for white sharks',
 'Standing or boogie boardin',
 "Attempting to lasso shark's tail",
 'Free diving  & spearfishing (submerged)',
 'Taken as he dived into the water',
 'Free diving / photography, kneeling on sand',
 'Spearfishing / freediving',
 'Scuba Diving for scallops',
 'boat from the Austrian ship Elizabeth',
 'Swimming with mask & snorkel',
 'Swimming, after falling overboard',
 'Jumping in the waves',
 'Marathon swimming',
 'Fell overboard from fishing schooner Halycon',
 'Standing alongside surfboard',
 'Jerked overboard while pole fishing for tuna',
 'Fishing / Wading',
 'Refused permission to cross on the ferry, he was swimming across the river',
 'Splashing in surf',
 'American minesweeper USS YMS-472 foundered in a typhoon - swimming to shore',
 'Rescuing',
 'Feeding a shark',
 'Body found floating next to his ship',
 'Fishing, standing in water washing fish',
 'Washed off freighter Huncliff by a freak wave',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
 'Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew',
 'Fishing (big game)',
 'His balloon crashed in the harbor',
 'Working prawn net',
 'Dress diving, filming shark & pulling it through the water for a motion picture scene',
 'Shell Diving',
 'Setting crayfish pots',
 'Attempting to rescue a shark',
 'pêcheur de bichiques',
 'Surfing amid a shoal of sharks',
 'Standing in inner tube',
 'Swimming crawl stroke',
 'Italian liner Principessa Mafalda sank',
 'Colombian  (Avianca) DC-4 airliner plunged into the sea 5 minutes after takeoff',
 'Swimming to retrieve a flannel',
 'Free diving but treading water at surface',
 'Fishing from prawn trawler',
 'Surfing, paddling shorewards',
 'Rolled off raft',
 'Lying prone on surfboard',
 'Competing in a light tackle game fishing',
 'Jumped overboard and swimming',
 'Free diving / spearfishing, from paddleboard & floating on the surface',
 'Spearfishing, Smith  & Walker touched shark with tip of their guns',
 'Swimming in midriver near sewage outlet & 400 m from a slaughterhouse',
 'Swimming, using bundles of sticks as raft',
 'Swimming or snorkeling',
 'Hardhat diving',
 'Fishing, holding fish',
 'Jumped into the water',
 "Fishing from 32' boat",
 'Spearfishing, had fish on his spear',
 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ',
 'Spearfishing with Scuba gear',
 'Swimming near life raft',
 'Diving / Kissing the shark',
 'Spearfishing',
 'Spearfishing on Scuba',
 'Swimming, attempting to rescue a girl  believed to be drowning',
 'Diving by wharf',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'Wading near a fishing net',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Fell overboard from USS Ward',
 'Commercial Salvage Diving',
 'Collecting fish ',
 'Harpooning turtles',
 'Fishing, hauling in a 5-lb snapper',
 'Bathing with sister',
 'Dragging stranded shark into deeper water',
 'The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
 'Bathing alongside ship',
 'Crabbing (spearing crabs)',
 'Swept off deck of S.S.Frontenac enroute from West Indies to US',
 'Leaving the water',
 'Disappeared 11 days earlier, probable homicide victim',
 'Fishing for bluefish',
 'Swimming & splashing',
 'Snorkeling',
 'Kakaying',
 'Petting a shark',
 'Fishing, trying to catch the end of his fishing line',
 'Swimming 10 m from shore',
 'Fishing boat capsized ',
 'Diving (shell maintenance)',
 'Standing on his hands',
 '"Swimming vigorously"',
 'Fishing in ankle-deep water',
 'Fishing for bottom fish',
 'Free diving for abalone from Zodiac (submerged)',
 'Parachuted into Pacific',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 'Boat of the Resolution capsized in the breakers',
 'Free diving, surveying a pipeline & examing cathodes under jetty',
 'Standing, stepped on shark',
 'Wreck of a sampam',
 'Canoe with 3 men onboard sank',
 'Measuring sharks',
 'Floating on inner tube raft',
 'Cutter capsized',
 '43-ton schooner Irene capsized & sank',
 'Swimming back from anchored sailboat',
 'The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.',
 'R5D aircraft went down with 29 on board',
 'Surfng',
 'Lying on surfboard',
 'Wading to dinghy, carrying his son',
 'Swimming in strong current with 3 others when he disappeared',
 'Playing / standing',
 'Freedom Swimming',
 'Canoe capsized with 10 occupants, 8 survived,  Hamilton swam off to seek help',
 'Defecating in water beneath the docks',
 'A 210-ton brig was sunk by a Japanese submarine. Some of the survivors were machine-gunned & some were taken by sharks',
 'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas',
 'Surf fishing, wading ',
 'Diving, recovering fish killed by dynamite',
 'Chasing shark out of bathing area while riding on a surf-ski',
 'Jumped off surfboard & landed on the shark',
 'Fell off banana boat',
 "Sitting in 3' of water",
 'Hookah diving for pen shells ',
 'Swimming with board',
 'Surfing (or body boarding)',
 'Wading, fishing for flounder',
 'Standing / Snorkeling',
 'Surfing, but swimming to his board',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Free diving, carrying speargun',
 'Sitting in shallows',
 "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'Commercial spearfishing',
 'Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather',
 'Wreck of the steamship Sultan of Bombay',
 'Spearfishing, hunting crayfish',
 'Surf fishing in waist-deep water',
 'Body surfing & treading water',
 'Surf-fishing',
 'Spearfishing/ filming',
 'The Pacquebot Laconia, enroute to Liverpool with 600 Italian prisoners onboard, was torpedoed by the German submarine  U-156 and only 2 rafts were launched before the ship went down. Unable to board an overcrowded raft, he was swimming.',
 'Kitesurfing',
 'Shark hoisted on board liner Tahiti',
 'Swimming near pod of whales',
 'Lobster diving using Scuba',
 'Floating on raft',
 'Swimming, towing an empty barrel',
 'Sinking of the dredge World Atlas',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Fishing for lobsters',
 'Diving / fishing',
 'Spearfishing or fishing',
 'In water with diving seabirds',
 'Cargo ship El Gamil entroute Suez to Yemen (Aden) when her cargo shifted and she sank. 19 Egyption sailors jumped into the water and swam for several hours before being bitten by sharks',
 'Crossing the river mouth',
 'Crayfishing',
 'Deserting the bark Nazarene',
 'Freediving, inspecting Kaunakakai wharf construction after blasting & dredging ',
 'Feeding fish',
 'Fishing, setting nets',
 'Spearfishing using scuba',
 'Floating on inner tube after diving for lobster',
 'Paddling on surfboard or body board',
 'Fishing in knee-deep water',
 'She was on a ship that was torpedoes & was in the water awaiting rescue',
 'Wreck of the 150-ton brig Maria',
 'Shark fishing on the Don Agustín-VI. ',

## Columna name

In [508]:
# hay algunos datos de sexo en la columna  (ver en df_clean)
# ver si es igual a la que pone en sex column
df_clean["Name"].equals(df_clean["Sex "])
df_clean
#no se puede hacer mucho

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

## Columna fatal

In [509]:
# ver valores columna fatal
set(df_clean['Fatal (Y/N)'])
#  hay valores ue son los mismos pero tienen espacios o minus y por eso no los reconoce comoigules reemplazarlos y valor M como N
# cambiar los nan por unknown

{' N', '2017', 'M', 'N', 'N ', 'UNKNOWN', 'Y', nan, 'y'}

In [510]:
#se van a cambiar todos los valores de toda la tabla pero no funciona de otra forma
df_clean["Fatal (Y/N)"].replace({" N":"N", "N ": "N", "y":"Y", "M": "N"}, inplace=True)
df_clean["Fatal (Y/N)"].fillna(("UNKNOWN"), inplace=True)

df_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

In [242]:
#buscar valor 2017 en esta columna
df_clean.loc[df_clean['Fatal (Y/N)']== "2017"]
#no coincide el año con el año que pone en fatal

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
786,2012.06.10,10-Jun-2012,2012.0,Provoked,ITALY,Sardinia,Muravera,Attempting to rescue an injured & beached shark,Giorgio Zara,M,57,Lower left leg injured PROVOKED ACCIDENT,2017,Morning,"Blue shark, 2.5m","D. Puddo, 6/11/2012",2012.06.10-Zara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5517.0

## Columna species

In [515]:
df_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

In [ ]:
set(df_clean["Species"])

In [9]:
df_no_null2.describe()

              Year  original order
count  6300.000000     6302.000000
mean   1927.272381     3152.499683
std     281.116308     1819.375481
min       0.000000        2.000000
25%    1942.000000     1577.250000
50%    1977.000000     3152.500000
75%    2005.000000     4727.750000
max    2018.000000     6303.000000

In [ ]:
#Cuantos ataques dependiendo de la actividad
#Ataques por año
#A partir de que año son menos fatales

In [10]:
#Año con mas ataques 2015
df_no_null2["Year"].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1801.0      1
1638.0      1
1834.0      1
1723.0      1
1786.0      1
Name: Year, Length: 249, dtype: int64

In [11]:
#Actividades con mas ataques --> surfing
df_no_null2["Activity"].value_counts()

Surfing                                                                       971
Swimming                                                                      869
Fishing                                                                       431
Spearfishing                                                                  333
Bathing                                                                       162
                                                                             ...
 a canoe was pursuing a schooner that had forcibily abducted 5 young girls      1
In water with diving seabirds                                                   1
Wreck of the 150-ton brig Maria                                                 1
Diving, retrieving fish caught in net                                           1
Spearfishing, Scuba diving                                                      1
Name: Activity, Length: 1532, dtype: int64

In [12]:
#Por surfing si pasa mas en USA o en Australia
df_no_null2[df_no_null2["Activity"]=="Surfing"]["Country"].value_counts()
#MAs ataques por surfing en USA

USA                                      564
AUSTRALIA                                195
SOUTH AFRICA                              97
BRAZIL                                    36
REUNION                                   20
NEW ZEALAND                               12
MEXICO                                     6
INDONESIA                                  6
COSTA RICA                                 4
ECUADOR                                    4
JAPAN                                      3
NEW CALEDONIA                              2
EL SALVADOR                                2
FRENCH POLYNESIA                           2
VENEZUELA                                  2
BAHAMAS                                    2
FIJI                                       2
URUGUAY                                    1
MEXICO                                     1
GREECE                                     1
OKINAWA                                    1
CANADA                                     1
DOMINICAN REPUBLIC                         1
MOZAMBIQUE                                 1
ANGOLA                                     1
ST HELENA, British overseas territory      1
UNITED ARAB EMIRATES (UAE)                 1
SCOTLAND                                   1
Name: Country, dtype: int64

In [13]:
#Si suelen se fatal los ataques de tiburon por surfing
df_no_null2[df_no_null2["Activity"]=="Surfing"]["Fatal (Y/N)"].value_counts()
#La mayoria no son fatales

N          878
Y           49
UNKNOWN      6
Name: Fatal (Y/N), dtype: int64

In [14]:
#A partir de que año son menos fatales

nofatal_year=df_no_null2[df_no_null2["Fatal (Y/N)"]=="N"]["Year"].value_counts()
nofatal_year
#nofatal_year.plot.bar()

# nofatal_year=df.groupby(['Fatal (Y/N)','Year']).size()
# nofatal_year.plot.bar()
#grafico   

#graph=plt.bar(df_no_null2["Year"], df_no_null2[str("Fatal (Y/N)")], color="plum")
#show(graph)
#plt.hist(df["nofatal_year"], color = 'skyblue')

2015.0    121
2017.0    115
2016.0    113
2014.0    111
2011.0    104
         ...
1788.0      1
1826.0      1
1749.0      1
1845.0      1
1829.0      1
Name: Year, Length: 191, dtype: int64

In [ ]:
df_no_null2 = df_no_null2[~df_no_null2["Fatal (Y/N)"].isnull()]
fatal = {"Y":True,"N":False}
for k,v in fatal.items():
     df_no_null2.loc[df["Fatal (Y/N)"].str.startswith(k),"fatal_attacks"] = v